@import url(https://fonts.googleapis.com/css?family=Playball);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);

/* CSS reset for cross browser compatability *********/
/* citation for CSS reset *****************************
Meyerweb.com, (2015). CSS Tools: Reset CSS. [online] 
Available at: http://meyerweb.com/eric/tools/css/reset/ 
[Accessed 16 Dec. 2015]. *****************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End CSS reset section ************************/

/* Initial display hiding. This ensures only landing.php 
is displayed initially. This is changed later with javascript */
.hide   {
    display: none;
}

.clear  {
    clear: both;
}

/* some link styling highlighting on hover */
.flare  {
    box-shadow: 0 0 20px 3px #a00; 
}

/* High level inheritance settings */
body    {
    font-family: Roboto Condensed;
}

a   {
    color: white;
}

/* Header stylings ----------------------- */
header  {
    width: 100%;
    height: auto;
}

.dolby > img    {
    width: 100%;
}

.dolby  {
    width: 25%;
    float: right;
    position: relative;
}

.nowWith    {
    font-family: playball;
    font-size: 3em;
    text-shadow: 0px 1px #ccc, 0px 2px #aaa, 0px 3px #888, 0px 4px #666;
}

.titleWrapper   {
    width: 55%;
    position: relative;
    display: inline-block;
}

.cinemaName {
    font-family: playball;
    font-size: 9.5em;
    float: left;
    color: #eee;
    text-shadow: 0px 2px #ccc, 0px 4px #aaa, 0px 6px #888, 0px 8px #666;
}

.subtitle   {
    font-family: playball;
    font-size: 5em;
    float: left;
    color: #eee;
    text-shadow: 0px 2px #ccc, 0px 4px #aaa, 0px 6px #888, 0px 8px #666;
    margin-left: 10%;
}

.capital    {
    font-size: 16em;
    float: left;
    display: block;
    width: 18%;
}

/* Background stylings */
body   {
    background: #a11 url(../img/bg/curtainsBG.jpg) no-repeat left top;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.fullscreen-bg  {
    position: fixed;
    top: -50px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -100;
    max-width: 1920px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.fullscreen_video   {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

/* Wrapper stylings to control the page shape */
.wrapper    {
    width: 1000px;
    background-color: rgba(25, 25, 25, .85);
    margin: 0px auto;
    margin-bottom: 50px;
    margin-top: 50px;
    color: white;
    box-shadow: 0 0 45px 45px rgba(25, 25, 25, .85);
    text-align: center; /* For inheriting purposes */
}



/* Stylings for the navigation bar */
nav {
    font-family: Roboto Condensed;
    height: 50px;
    background-color: #b00; /* for browsers that don't support gradients */
    background: -webkit-linear-gradient(#b00, #500); /* Safari */
    background: -o-linear-gradient(#b00, #500); /* Operah */
    background: -moz-linear-gradient(#b00, #500); /* Firefox */
    background: linear-gradient(#b00, #500); /* All others */
    /* These colour codes are short for #ff3300 and #660000 */
    
}

ul     {
    overflow: hidden;
}

li.current  {
    background-color: #f00;
    background: -webkit-linear-gradient(#f00, #800);
    background: -o-linear-gradient(#f00, #800);
    background: -moz-linear-gradient(#f00, #800);
    background: linear-gradient(#f00, #800);
}

.listItem   {
    display: block;
    height: 50px;
    float: left;
    width: 16.6%;
    text-align: center;
    line-height: 50px;
    color: white;
    font-weight: bold;
}

li > a   {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.hover  {
    background-color: #d00;
    background: -webkit-linear-gradient(#d00, #600);
    background: -o-linear-gradient(#d00, #600);
    background: -moz-linear-gradient(#d00, #600);
    background: linear-gradient(#d00, #600);
}

/* Stylings for the landing (home) page */
.movies  {
    width: 100%;
}

.mainBody   {
    margin-bottom: 20px;
}

.midAlign   {
    width: 150px;
    margin: 0 auto;
}

.movie   {
    margin: 0;
    width: 24%;
    display: inline-block;
    position: relative;
}

.land   {
    margin: 0 auto;
}

.showing, .coming    {
    width: 100%;
}

.title > h1, .quad > h3, .individual > h3, .titleFormat {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: rgba( 0, 0, 0, .8);
    color: #fb3;
    font-weight: bold;
}


/* Footer stylings -----------------*/
footer  {
    height: 100px;
    width: 100%;
    border-top: 2px solid white;
    display: table;
    color: whitesmoke;
    font-family: PT Sans;
    font-size: .8em;
}

.frow    {
    display: table-row;
}

.fcell   {
    display: table-cell;
    text-align: center;
    padding-top: 20px;
    width: 50%;
}

footer p    {
    padding-top: 5px;
}

/*--------- NOW SHOWING AND COMING SOON STYLING -----------*/
.quadrants  {
    height: 1000px;
    margin: 0 auto;
}

.quad   {
    display: inline-block;
    height: 45%;
    width: 45%;
    padding: 2%;
    position: relative;
}

.shImg {
    float: left;
    height: 100%;
    margin-right: 3%;
}

.L  {
    float:left;
}

.R  {
    float: right;
}

.T  {
    margin-bottom: 2%;
}

.details    {
    width: 100%;
    height: 60%;
    margin-bottom: 5%;
}

/* This next block lines up labels (eg: Length)
with its attribute (eg: 149 Mins) */
.labels {
    width: 40%;
    display: -webkit-flex;
    -webkit-align-items: top;
    display: flex;
    align-items: top;
}

.labels > p  {
    width: 100%;
    display: inline-block;
    line-height: 20px;
}

.labels > p:nth-child(1)  {
    text-align: left;
    width: 30%;
}

.labels > p:nth-child(2)  {
    text-align: right;
    margin-bottom: 10%;
}

.moreDetails    {
    text-decoration: underline;
    text-align: left;
    cursor: pointer;
}

.moreDetails < div  {
    float: left;
}



/* This styles the watch trailer and Buy Tickets buttons*/
.trailer   {
    background-color: #f93;
    color: black;
    display: block;
    position: absolute;
    text-align: center;
    height: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.quad > a.trailer    {
    left: 10%;
    bottom: 3%;
    width: 30%;
}

.quad > .callToAction   {
    right: 10%;
    bottom: 3%;
    width: 30%;
}

.quad > p   {
    text-align: left;
}

/* For other instances of this button */
.callToAction   {
    background-color: #f93;
    color: black;
    display: block;
    position: absolute;
    text-align: center;
    height: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

/* Stylings for individual movie pages ------------------*/
.individual {
    position: relative;
    height: 400px;
}

.bigPic {
    float: left;
    height: 80%;
    margin: 15px;
}

.indPageDetails {
    width: 30%;
    display: -webkit-flex;
    -webkit-align-items: top;
    display: flex;
    align-items: top;
    line-height: 30px;
}

.indPageDetails > p {
    display: inline-block;
    width: 100%;
}

.indPageDetails > p:nth-child(1)    {
    text-align: left;
}

.indPageDetails > p:nth-child(2)    {
    text-align: right;
}

.indSynopsis    {
    position: absolute;
    top: 60px;
    right: 0;
    width: 40%;
    text-align: justify;
}

.individual > .trailer  {
    position: absolute;
    width: 20%;
    left: 35%;
    bottom: 5%;
}

.individual > .callToAction {
    position: absolute;
    width: 20%;
    right: 10%;
    bottom: 5%;
}

.indSynopsis > a:visited    {
    color: white;
}

.times p  {
    display: inline;
}

.times {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.times span {
    display: table-cell;
    text-align: center;
}

/* Contact us stylings -----------------------*/

form    {
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.detailForm   {
    width: 48%;
    display: inline-block;
    vertical-align: middle;
}

.halfForm   {
    width: 48%;
    display: inline-block;
    vertical-align: middle;
}

.halfForm:nth-child(1)  {
    margin-right: 3%;
}

fieldset    {
    height: auto;
    width: 100%;
    min-height: 50px;
}

label   {
    padding-bottom: 10px;
}

textarea.input    {
    display: block;
    width: 90%;
    height: 150px;
}

.input  {
    float: right;
    width: 50%;
}

/* Purchase tickets layout ---------------*/
.submitPurch, .reserve   {
    color: white;
    width: 50%;
    margin-left: 25%;
    height: 40px;
    border: 0px;
    margin-bottom: 3%;
    background-color: #f00;
    background: -webkit-linear-gradient(#f00, #800);
    background: -o-linear-gradient(#f00, #800);
    background: -moz-linear-gradient(#f00, #800);
    background: linear-gradient(#f00, #800);
}

#datePicker, #selectedMovie, .tickets, .selectInfoFields  {
    background-color: #f00;
    background: -webkit-linear-gradient(#f00, #800);
    background: -o-linear-gradient(#f00, #800);
    background: -moz-linear-gradient(#f00, #800);
    background: linear-gradient(#ff0000, #880000);
    color: white;
    border-color: #f00;
}

#selectedMovie > option, .tickets > option {
    background-color: #b00; 
    color: white;
}

.table  {
    display: table;
    width: 100%;
}

#datePicker, #selectedMovie, .selectInfoFields {
    float: right;
    width: 40%;
}

.total > input, .selectInfoField  {
    display: flex;
    justify-content: flex-end;
}

.buy.R > label, .buy.R > .total  {
    width: 100%;
    vertical-align: middle;
}

.buy.L > label, .buy.L > .total  {
    width: 100%;
    vertical-align: middle;
}


.headRow    {
    display: table-header-group; 
    Width: 100%;
}

.row   {
    display: table-row;
}

.cell  {
    display: table-cell;
    padding: 5px 0 5px 0;
    Width: 22%;
    height: 30px;
}

.priceTimes   {
    width: 48%;
    height: 380px;
    display: inline-block;
    vertical-align: middle;
}

.priceTimes:nth-child(1)  {
    margin-right: 3%;
}

.buyForm    {
    width: 100%;
}

#purchase   {
    text-align: left;
    width: 100%;
    background-color:rgba(0,0,0,.6);
}

#purchase > fieldset    {
    width: 80%;
    padding-left: 9%;
    padding-top: 2%;
    
}

.buy    {
    width: 48%;
    display: inline-block;
    height: auto;
}


.tixField   {
    display: none;  /*This will be made visible later */
}

.tixField > h3  {
    text-align: center;
}

.tixField > label   {
    width: 50%;
    margin: 2%;
    display: flex;
    justify-content: space-between;
    padding-left: 25%;
}

#delux {
    width: 100%;
    background-color: rgba( 0, 0, 0, .8);
    color: #fb3;
}

#beanbags {
    width: 100%;
    background-color: rgba( 0, 0, 0, .8);
    color: #fb3;
}

#firstclass {
    width: 100%;
    background-color: rgba( 0, 0, 0, .8);
    color: #fb3;
}

.buy R {

}

.keepTogether   {
    width: 100%;
    height: auto;
    clear: left;
}

#layoutLink {
    display: block;
    border: 1px solid white;
    width: 40%;
    padding: 10px 5px 10px 5px;
    margin: auto;
    cursor: pointer;
}

/* images and advertising styling --------------*/
.bottomLeftImage    {
    position: fixed;
    bottom: -80px;
    left: -60px;
    -webkit-transform: rotate(20deg); 
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
    z-index: -1;
}

.bottomLeftImage2    {
    position: fixed;
    bottom: -110px;
    left: 70px;
    -webkit-transform: rotate(40deg); 
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    z-index: -2;
}

.bottomRightImage    {
    position: fixed;
    bottom: -0px;
    right: -170px;
    width: 550px;
    z-index: -1;
}
/* The following stylings are primarily for displaying cart items */
.cartTable     {
    padding: 10;
    display: table;
    width: 50%;
    border: 1px;
    border-style: inset;
    margin: 0 auto;
}

.cartRow     {
    display: table-row;
}

.cartCell     {
    display: table-cell;
    width: 49%;
}

.pAdult, .sAdult, .sChild, .sConc, .pChild, .total, .bean1, .bean2, .bean3{
    display: inline-block;
    text-align: left;
    padding-top: 2%;
}
